3___Turn_On_Off_Lights.json
{
  "name": "3 - Turn On/Off Lights",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"entityId\": \"switch.dining_room_pendants\",\n  \"action\": \"turn-on\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        -120
      ],
      "id": "f2890af1-0153-4ba6-a11b-70eb0d79e36d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.entityId.split('.')[0] }}",
                    "rightValue": "light",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e76499f0-d210-46d1-ae92-dd9b8474f9e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Light"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41a93302-e88f-4fcf-a460-8122662536a2",
                    "leftValue": "={{ $json.entityId.split('.')[0] }}",
                    "rightValue": "switch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Switch"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -280,
        -120
      ],
      "id": "164ae778-0770-452b-ab10-24ed683fa7ce",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "turn-on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f20db3e-8acd-4c2e-8f19-afcd08b671f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turn On"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9207d1d5-6e35-4641-9811-f2657e6f8607",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "turn-off",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turn Off"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -20,
        -200
      ],
      "id": "9c4228cb-96dc-4f42-88c6-185680b58d80",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "light",
        "service": "turn_on",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $json.entityId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        200,
        -340
      ],
      "id": "9dd98c5c-1419-41d4-b7c2-ee9c353aaf0b",
      "name": "Turn On Light",
      "alwaysOutputData": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "fAIlcSceKLifyrFg",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "light",
        "service": "turn_off",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $json.entityId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        200,
        -140
      ],
      "id": "cf36da62-e8c2-463b-9d5e-5b94d4e6a49b",
      "name": "Turn Off Light",
      "alwaysOutputData": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "fAIlcSceKLifyrFg",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "turn-on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f20db3e-8acd-4c2e-8f19-afcd08b671f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turn On"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9207d1d5-6e35-4641-9811-f2657e6f8607",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "turn-off",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turn Off"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -20,
        100
      ],
      "id": "74edb584-fff6-49cf-a04a-0082a56512e9",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "switch",
        "service": "turn_on",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $json.entityId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        200,
        60
      ],
      "id": "c1c3aabb-b028-4df5-af8e-ea14f16dd2ef",
      "name": "Turn On Switch",
      "alwaysOutputData": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "fAIlcSceKLifyrFg",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "switch",
        "service": "turn_off",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $json.entityId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        200,
        260
      ],
      "id": "e5f303bb-10d6-4a78-9eaa-5dda1400bffc",
      "name": "Turn Off Switch",
      "alwaysOutputData": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "fAIlcSceKLifyrFg",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8595fe02-92b2-4bf4-a63d-0563be360fe0",
              "name": "outcome",
              "value": "=Tool Call completed successfully",
              "type": "string"
            },
            {
              "id": "65dde54e-1895-4444-ad87-c2cca340b6ca",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        260
      ],
      "id": "755c7ed9-fbd1-4b5c-8797-2aeb3cbbda7d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "entityId": "switch.christmas_tree_wall_socket",
          "action": "turn-on"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Turn On Light",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Turn Off Light",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Turn On Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Turn Off Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn Off Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn On Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn Off Light": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn On Light": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14492050-7bc2-4c1c-aac3-57f052c39a18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac975547172c3ff12852fb9beb91829001191c03132e040ed45fb2e0cd1f79c6"
  },
  "id": "KpVJULkTyg9RBRyV",
  "tags": []
}